
body{
    background: rgb(10, 10, 10);
}

.center-text{
    padding-top: 15% !important;
    padding-bottom: 25%;
    /* white-space: nowrap; */
}

.center {
    z-index: 10;
    padding-top: 10% !important;
    background-color: #000000 ;   
}

.main div{
    z-index: 1;
    scroll-snap-type: x mandatory;
    scroll-padding-top: 10vh;
}
.background background{
    scroll-snap-align: center;
    animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.tagger{
    margin-bottom: 1rem !important;   
}

.contact-span {
    text-align: center;
}

.contacted{
    color: black !important; 
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    
}

.contacted:hover {
    color: rgb(88, 87, 139) !important; 
} 


.contacted:visited{
    color: rgb(109, 109, 109); 
}


.wordCarousel {
    font-size: 20px;
    font-weight: 100;
    color: rgb(14, 13, 13);
}

.wordCarousel div {
        overflow: hidden;
        position: relative;
        height: 23px;
    
}
.wordCarousel li {
            height: 45px;
            margin-bottom: 45px;
            display: block;
            text-align: center;
            margin-left: -35px;
            
            
        }

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

.particles{
  position: absolute;
}