
body{
    background: rgb(10, 10, 10);
}

.center-text{
    padding-top: 15% !important;
    padding-bottom: 25%;
    /* white-space: nowrap; */
}

.center {
    z-index: 10;
    padding-top: 10% !important;
    background-color: #000000 ;   
}

.main div{
    z-index: 1;
    scroll-snap-type: x mandatory;
    scroll-padding-top: 10vh;
}
.background{
    scroll-snap-align: center;
    box-shadow: 0px 0px 0px 0 black inset, 0px -25px 50px 0 black inset;
}

.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.tagger{
    margin-bottom: 1rem !important;   
}

.contact-span {
    text-align: center;
}

.contacted{
    color: black !important; 
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    
}

.contacted:hover {
    color: rgb(88, 87, 139) !important; 
} 


.contacted:visited{
    color: rgb(109, 109, 109); 
}


.wordCarousel {
    font-size: 20px;
    font-weight: 100;
    color: rgb(14, 13, 13);
}

.wordCarousel div {
        overflow: hidden;
        position: relative;
        height: 23px;
    
}
.wordCarousel li {
            height: 45px;
            margin-bottom: 45px;
            display: block;
            text-align: center;
            margin-left: -35px;
            
            
        }

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

.particles{
  position: absolute;
}